@font-face {
  font-family: "Draw";
  src:
    url(fonts/IndieFlower.woff2) format("woff2"),
    url(fonts/IndieFlower.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  font-family: "Roboto", "Helvetica", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

button {
  box-shadow: 2px 3px 5px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  padding: 20px;
}

.buttons > button {
  padding: 12px 24px;
  border-radius: 15px;
  border: none;
  background-color: #a6adc8;
  font-weight: bold;
}
.buttons > button:hover {
  background-color: #bac2de;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  border-radius: 15px;
  border: none;
}

input {
  border: none;
  padding: 10px;
  border-radius: 15px;
}

dialog > button {
  margin: 10px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid black;
  box-shadow: 3px 5px 10px;
  border-radius: 8px;
}

.field {
  font-family: "Draw";
  height: 6rem;
  width: 6rem;
  padding: 20px;
  border: 2px solid black;
  font-size: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field:hover {
  background-color: #bac2de;
}

.status {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
