* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid black;
}

.field {
  height: 5rem;
  width: 5rem;
  padding: 20px;
  border: 2px solid black;
}
